.racquet-details{
  position: sticky !important;
  top: 0 !important;
  height: 100vh;
  padding: 0 0.2rem;
  margin : 0.1rem 0.5rem;
  border-left: 0.05rem solid $light-yellow;
  padding-left: 1rem;
  h3{
    color: $dark-orange;
    margin-left: 0.05rem;
    margin-bottom: 0.5rem;
  }
  .trade_name{
    color: $light-yellow;
  }
}
