.racquet-details{
  h3{
    color: $dark-orange;
    margin-left: 0.05rem;
    margin-bottom: 0.5rem;
  }
  .trade_name{
    color: $light-yellow;
  }

  padding: 0 1.5rem;
  border-left: 0.05rem solid white;
}
