.racquets-selection {

  h3 {
    color: $dark-orange;
    margin-left: 1rem;
  }

  .racquets-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.5rem;
    align-content: flex-start;
    background-color: transparent;
    height: 70vh;
    overflow-y: scroll;

    .racquet {
      //flex-basis: calc(50% - 20px);
      color: $dark-blue;
      border: 2px solid $light-yellow;
      border-radius: 25px;
      box-shadow: 1px 1px 0 $dark-orange;
      padding: 0.5rem;
      margin: 0.8rem;
      cursor: pointer;
      opacity: 0.9;
      transition: transform, 500ms;
      // background-color: yellow;

      &:hover {
          transform: scale(1.1);
          opacity: 1;
          border-color: $dark-orange;
          box-shadow: 1px 1px 0 $light-yellow;
          transition: transform, 200ms;
      }
    }
  }
}

