@import "racquets_list";
@import "filters";

#racquets {
  // background-color: red;
  // display: flex;
  margin: 24px;
  // flex-direction: column;
  border: 2px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0px 0px 5px;
}

