@import "racquets";
@import "racquets_filters";
@import "racquet_details";

.view {
  background-color: $dark-blue;
  color: white;
  border-radius: 0.75rem;
  margin: 1rem;
  box-shadow: 0.05rem 0.05rem 0.2rem $dark-orange;
  padding: 1rem 0.5rem;
  min-height: calc(100vh - 7rem);
  // border: 0.25rem solid $dark-orange;
}

