// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
//my choices
$dark-blue: #2b2e4a;
$dark-orange: #e84545;
$dark-red: #903749;
$dark-maroon: #53354a;
$medium-blue: #2d4059;
$medium-red: #ea5455;
$medium-orange: #f07b3f;
$medium-yellow: #ffd460;
$light-blue: #95e1d3;
$light-red: #f38181;
$light-cyan: #eaffd0;
$light-yellow: #fce38a;

