<div id="racquets-list">
  <%= render 'racquets_list', racquets: @racquets %>
</div>
<div id="balance-tool">
  <%= render 'balance_tool' %>
</div>
<div id="customizator">
  <%= render 'customizator' %>
</div>
