<%#= react_component("Racquets", {racquets: @racquets}) %>

<div id="racquets" class='container'>
    <div class="row">
      <div class="col-md-3">
        <%= render 'filters' %>
      </div>
      <div class="col-md-6">
        <%= render 'racquets_list', racquets: @racquets %>
      </div>
      <div class="col-md-3">
        <%= react_component('racquets') %>
      </div>
    </div>
</div>
