<div id="racquets">
  <%= react_component('RacquetsApp') %>
</div>

<!-- <div id="racquets">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <%#= render 'racquets_filters', search: @search %>
        <%#= react_component('racquets/racquets_filters') %>
      </div>
      <div class="col-md-8">
        <%#= render 'racquets_list', racquets: @racquets %>
        <%#= react_component('racquets/racquets_list') %>
      </div>
      <div class="col-md-2">
        <%#= render 'racquet_details', racquet: @racquet %>
        <%#= react_component('racquets/racquet_details', racquetSpecs:{}) %>
      </div>
    </div>
  </div>
</div> -->
